body {
    margin: 0;
    background: linear-gradient(45deg, #c965747f, #396679b3, #609b8bb3, #aeb37bb3, #efd360b3);
    background-size: 500% 500%;
	animation: gradient 35s ease infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.calculator-button,
.clear-button,
.delete-button,
.equals-button {
    width: 90%;
    min-width: 50px;
    max-width: 80px;
    height: auto;
    min-height: 45px;
    margin-top: 15px;
    box-sizing: border-box;
    border-right: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(221, 221, 221);
    border-top: 1px solid rgb(221, 221, 221);
    font-weight: 500;
    font-size: 20px;
}

.buttons {
    min-width: 320px;
    
}

.calculator-body{
    margin-top: 20vh;
    min-width: 350px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px 5px rgb(24, 24, 24);
    background-image: linear-gradient(to bottom right, rgb(81, 81, 81), rgb(132, 132, 132));
}

.bottom-row {
    padding-bottom: 30px;
}

.display-div {
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #0fa646;
    height: 95px;
    max-width: 340px;
    min-width: 310px;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    border-radius: 4px;
    box-sizing: border-box;
    border-left: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(221, 221, 221);
    border-bottom: 2px solid rgb(221, 221, 221); 
    margin-bottom: 25px;
    margin-top: 25px;
    overflow: hidden;
    word-wrap: break-word;
}



.name{
    font-size: 8px;
    color: rgb(207, 207, 207);
}
